:root {
    --gray: rgb(235, 238, 240);
    --greyButtonText: rgba(0, 0, 0, 0.34);
    --grayText: rgb(101, 119, 134);
    --spacing: 1.5rem;
    --corner-radius-sm: 1.6rem;
    --corner-radius-full: 9999px;
    --black: rgba(0, 0, 0, 0);
    --blue: rgba(29, 161, 242, 1);
    --blue-50-a1: rgba(29, 161, 242, 0.1);
    --elevation-lined: rgba(0, 0, 0, 0.02) 0px 0px 2px inset;
    --elevation-raised: rgba(101, 119, 134, 0.2) 0px 0px 15px, rgba(101, 119, 134, 0.15) 0px 0px 3px 1px;
}

* {
    outline-color: aqua;
}

.wrapper {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4.5fr;
}
.h-wrapper__heading {
    grid-column: 1/2;
    height: 100%;
    padding: 0 2rem;
    border-right: 0.1rem solid var(--gray);
    width: 285px;
    position: relative;
}
.h-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    /* padding-top: 2rem; */
    justify-content: space-between;
    align-items: flex-start;
    width: 234px;
    position: fixed;
}
.h-wrapper__nav {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.h-wrapper__nav .nav__logo {
    padding: 0.4rem 0;
}
.nav__logo-title {
    min-width: 3rem;
    margin: 0.5rem 0;
}
.logo-title__link {
    width: 5rem;
    height: 5rem;
    display: block;
    text-align: center;
    border-radius: var(--corner-radius-full);
    padding: 1rem;
    border: 0.1rem solid var(--black);
    transition: background-color 0.3s;
}
.logo-title__link svg {
    fill: var(--blue);
    width: 3rem;
    height: 3rem;
    transform: translateY(10px);
}
.logo-title__link:hover {
    background-color: var(--blue-50-a1);
}
/* Nav Style */
.nav__main {
    flex: 1;
}
.nav__main-link {
    display: flex;
    align-items: center;
    margin: 1rem 0;
    font-size: 1.7rem;
    color: rgb(15, 20, 25);
    font-weight: 700;
    padding: 1rem;
    width: 20rem;
    border-radius: 9999px;
    text-decoration: none;
}
.main-link__name {
    margin-left: 2rem;
}
.nav__main-link:hover {
    background-color: var(--blue-50-a1);
}
.nav__main-link:hover,
.nav__main-link:hover main-link__name {
    color: var(--blue);
    fill: var(--blue);
}
/* Footer */
.nav__footer {
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-left: 1rem;
    width: 100%;
}
.nav__footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1rem;
    width: 90%;
    border-radius: 9999px;
    cursor: pointer;
    font-size: 1.5rem;
    color: rgb(15, 20, 25);
    transition: background-color 0.3s;
    transform: translateY(130px);
}
.footer-name__fullName {
    font-weight: 700;
}
.nav__footer-container:hover {
    background-color: rgba(29, 161, 242, 0.1);
}
.footer-container__pr {
    box-shadow: var(--elevation-lined);
    border: 0.1rem solid rgba(0, 0, 0, 0.02);
    border-radius: 9999px;
    width: 3rem;
    height: 3rem;
}
.footer-container__pr .container__pr-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.active .main-link__name {
    color: rgba(29, 161, 242, 1);
}
.active svg {
    fill: rgba(29, 161, 242, 1);
}

/* Modal Footer */
.logout__modal {
    position: fixed;
    left: 0;
    z-index: 1;
    top: 0;
    width: 100%;
    overflow: auto;
    height: 100%;
    background: rgb(0, 0, 0); /*Fallback color*/
    background: rgba(0, 0, 0, 0);
    display: none;
}
.logout__wrapper {
    position: fixed;
    bottom: 7.9rem;
    left: 29.5px;
}
.logout__container {
    border-radius: var(--corner-radius-sm);
    position: relative;
    background: rgba(255, 255, 255, 1);
    box-shadow: var(--elevation-raised);
}
svg.down {
    transform: rotate(180deg);
    position: absolute;
    fill: #fff;
    left: 13.5rem;
    bottom: -1.7rem;
}
.logout__modal-body {
    width: 300px;
    min-width: 260px;
    max-width: 360px;
    max-height: 480px;
    height: 114px;
    overflow: hidden;
}
.wrapper__image {
    height: 4.9rem;
    width: 4.9rem;
    margin-right: 1rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 0px 2px inset;
}
.wrapper__image img {
    height: 100%;
    width: 100%;
    border-radius: 9999px;
    object-fit: cover;
}
.logout__modal-header {
    display: flex;
    align-items: center;
    padding: 1rem 1.5rem;
    border-bottom: 0.1rem solid rgb(235, 238, 240);
}

.check {
    margin-left: 10rem;
}

.user__name {
    font-size: 1.5rem;
    color: rgb(15, 20, 25);
    line-height: 1.5;
    display: flex;
    flex-direction: column;
}
.user__fullName {
    font-weight: 700;
}
.user__screenName {
    font-weight: 400;
    color: rgb(91, 112, 131);
}
.logout__modal-footer {
    padding: 1.5rem;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
    color: rgb(15, 20, 25);
    display: block;
    text-decoration: none;
}
.logout__modal-footer:hover {
    background-color: rgb(247, 249, 250);
}

/* Main Section */
main {
    grid-column: 2/-1;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

section.main__Section-Container {
    grid-column: 1/2;
    border-right: 0.1rem solid var(--gray);
    display: flex;
    width: 100%;
    flex-direction: column;
}

section.main__css-message {
    grid-column: 1/2;
    border-right: 0.1rem solid var(--gray);
    display: flex;
    width: 57%;
    flex-direction: column;
}

section.main__Medium-Message {
    grid-column: 1/2;
    border-right: 0.1rem solid var(--gray);
    display: flex;
    width: 57.5%;
    flex-direction: column;
}

.main__Section-Container .header__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(255, 255, 255, 1);
    padding: var(--spacing);
    border-bottom: 0.1rem solid var(--gray);
}
.main__Section-Container .header__top h4 {
    font-size: 19px;
    font-weight: 800;
    flex: 1;
    margin: 0;
}
.main__Section-Container .header__post {
    display: flex;
    padding: var(--spacing);
    flex-shrink: 0;
    border-bottom: 1rem solid var(--gray);
}

.userImageContainer {
    width: 5rem;
    height: 5rem;
}
.userImageContainer img {
    width: 100%;
    height: 100%;
    border-radius: var(--corner-radius-full);
    object-fit: cover;
    background: #b3b6b9;
}
.textareaContainer {
    flex: 1;
    padding-left: var(--spacing);
}
.textareaContainer textarea {
    width: 100%;
    border: none;
    padding: 5px;
    resize: none;
    font-size: 1.9rem;
    margin-bottom: 1rem;
}
/* ButtonContainer */
.buttonsContainer {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}
input#submitPostButton {
    background: var(--blue);
    color: #fff;
    font-size: 2rem;
    border-radius: 40px;
    padding: 7px var(--spacing);
    border: none;
}

.w-count-wrapper {
    font-weight: 400;
    margin-right: 1rem;
    font-size: 2rem;
    display: flex;
}

.vertical-pipe {
    width: 0.1rem;
    height: 3rem;
    margin-left: 0.8rem;
    background-color: rgb(0, 0, 0);
}

#submitPostButton:disabled {
    cursor: not-allowed !important;
    background-color: var(--blue-50-a1);
}
#submitPostButton:enabled {
    cursor: pointer !important;
}

/* Hash-Mention */

.hash__box {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    right: 0;
    top: 141px;
    z-index: 1;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0);
    display: none;
}

.hash__box-list {
    position: absolute;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 4px;
    left: 420px;
    overflow-y: auto;
    top: 4px;
    box-shadow: rgb(101 119 134/20%) 0px 0px 15px, rgb(101 119 134/15%) 0px 3px 1px;
}

.h-ment {
    padding: 1.5rem;
    font-size: 1.5rem;
    font-weight: 700;
    color: rgb(15, 20, 25);
    border-bottom: 0.1rem solid rgb(235, 238, 240);
    cursor: pointer;
}

.h-ment__container {
    display: flex;
    flex-direction: column;
}

.container__user-icon {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.p-icon {
    fill: rgb(91, 112, 131);
}

.container__user-follow {
    margin-left: 1rem;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 2px;
}

.container__user-info {
    display: flex;
    align-items: center;
}

.user-info__img {
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
    box-shadow: rgb(0 0 0 /2%) 0px 0px 2px inset;
}

.user-info__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--corner-radius-full);
    border: 0.1rem solid rgba(0, 0, 0, 0.04);
    background-color: rgba(26, 26, 26, 0.15);
}

.info__fullName-description {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.5;
    color: rgb(15, 20, 25);
}

.info__username-description {
    font-size: 1.5rem;
    font-weight: 400;
    color: rgb(91, 112, 131);
}

.hash__box-list li:hover div.h-ment {
    background-color: rgb(247, 249, 250);
}

.postContainer .post,
.profilePostsContainer .post,
.repliesPostsContainer .post {
    display: flex;
    flex-direction: column;
    padding: var(--spacing);
    cursor: pointer;
    border-bottom: 0.1rem solid var(--gray);
    transition: background-color 0.3s;
}
.postContainer .main__Content-Container,
.profilePostsContainer .main__Content-Container,
.repliesPostsContainer .main__Content-Container {
    display: flex;
    flex: 1;
}

.postContentContainer {
    padding-left: var(--spacing);
    display: flex;
    flex-direction: column;
    flex: 1;
}
.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.post-header a {
    padding-right: 0.5rem;
}

.postImageContainer__wrapper {
    width: 535.34px;
    height: 294.06px;
    cursor: pointer;
    display: none;
}
.postImageContainer__wrapper img {
    width: 100%;
    height: 100%;
    border-radius: 16px;
}
.blank_hr {
    height: 0.1rem;
    width: 100%;
    background-color: rgb(235, 238, 240);
    margin-bottom: 1rem;
}
.add__wrapper {
    display: flex;
    align-items: center;
    width: 40px;
    height: 40px;
}
.add__wrapper .add-photo {
    width: 37px;
    height: 37px;
    position: relative;
    margin-bottom: 1.5rem;
    padding: 0.9rem;
}
.add__wrapper .photo-icon {
    fill: rgba(29, 161, 242, 1);
    width: 22.5px;
    height: 22.5px;
    cursor: pointer;
}
#addPhoto {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    font-size: 1px;
    width: 0;
    opacity: 0;
}

.postContentContainer_postImage {
    height: 285.19px;
    width: 507px;
    margin-bottom: 1rem;
    padding-top: 0.5rem;
}
.postContentContainer_postImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}

a.displayName {
    font-weight: bold;
    color: #000;
    font-size: 1.7rem;
}
a.displayName:hover {
    text-decoration: underline;
}
.postContainer .username,
.postContainer .date,
.profilePostsContainer .username,
.profilePostsContainer .date,
.repliesPostsContainer .username,
.repliesPostsContainer .date {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--grayText);
}

.date {
    margin-left: 2rem;
}
span.dot {
    padding-left: 3rem;
    font-size: 2rem;
    font-weight: 700;
}
svg {
    width: 2rem;
    height: 2rem;
}
svg.dot-icon {
    width: 3rem;
    height: 3rem;
    fill: rgb(91, 112, 131);
}
span.dot:hover svg.dot-icon {
    border-radius: var(--corner-radius-full);
    fill: var(--blue);
    background-color: var(--blue-50-a1);
    padding: 3px;
}
.post:hover {
    background-color: rgba(0, 0, 0, 0.03);
}
.post-body div {
    font-size: 1.6rem;
    line-height: 1.65rem;
    word-break: break-all;
    max-width: 500px;
    line-height: 2rem;
    font-weight: 400;
}
.post-footer {
    display: flex;
    align-items: center;
}
.post-footer .postButtonContainer {
    flex: 1;
    display: flex;
}
.post-footer .postButtonContainer button {
    margin-top: 1rem;
    padding: 3px 5px;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: var(--greyButtonText);
    cursor: pointer;
}

.post-footer .postButtonContainer button.replyModal:hover,
.post-footer .postButtonContainer button.replyModal svg:hover {
    background-color: rgba(29, 161, 242, 0.1);
    color: blue;
    fill: blue;
}

.post-footer .postButtonContainer button.retweet:hover,
.post-footer .postButtonContainer button.retweet svg:hover {
    background-color: rgba(23, 191, 99, 0.1);
    color: green;
    fill: green;
}

.post-footer .postButtonContainer button:hover,
.post-footer .postButtonContainer button svg:hover {
    border-radius: var(--corner-radius-full);
}

.post-footer .postButtonContainer button.like-btn:hover {
    background-color: rgba(170, 131, 144, 0.1);
    color: red;
}

span.retweetsCount {
    color: rgb(23, 191, 99);
}
span.likesCounter {
    color: rgb(224, 36, 94);
}

i.fa-heart.fas {
    color: red;
}
/* Retweet Style */
.retweet__container {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0);
    display: none;
}

.retweet__container-wrapper {
    position: absolute;
    right: 653.844px;
    top: 295.938px;
    max-width: cacl(295px);
    width: 143px;
    background-color: rgba(255, 255, 255, 1);
    overflow: hidden;
    border-radius: 4px;
    box-shadow: rgb(101 119 134/20%) 0px 0px 15px, rgb(101 119 134/15%) 0px 0px 3px 1px;
}

.content__retweet-item {
    display: flex;
    align-items: center;
    padding: var(--spacing);
    cursor: pointer;
    transition: background-color 0.3s;
}

.content__retweet-item:hover {
    background-color: rgba(0, 0, 0, 0.03);
}

svg.r-p {
    margin-right: 1rem;
    fill: rgb(91, 112, 131);
}

.retweet_text {
    color: rgb(15, 20, 25);
    font-size: 13px;
    font-weight: 400;
}

.retweeted-icon svg {
    fill: green;
}

.retweet-header {
    display: flex;
    align-items: center;
}

.retweet-image {
    margin-right: 1rem;
}

.retweet-image svg {
    fill: rgb(91, 112, 131);
}

.retweet-link {
    font-size: 1.5rem;
    font-weight: 400;
    color: rgb(91, 112, 131);
    text-decoration: none;
}

.retweet-link:hover {
    text-decoration: underline;
}
/* End Retweet Style*/
/* Reply comment */
.reply-wrapper {
    width: 100vw;
    height: 100%;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    bottom: 0;
    background: rgba(0, 0, 0, 0);
    background: rgba(0, 0, 0, 0.4);
    display: none;
}

.reply-wrapper .reply-modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 600px;
    height: 350px;
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
    box-shadow: rgba(101, 119, 134, 0.2) 0px 0px 15px, rgba(101, 119, 134, 0.15) 0px 0px 3px 1px;
}

.reply-modal-header {
    height: 53px;
    padding: 0 var(--spacing);
    display: flex;
    align-items: center;
    border-bottom: 0.1rem solid rgb(196, 207, 214);
}

.reply-modal-header .close {
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
    line-height: 1rem;
    margin-left: 1rem;
}

.reply-modal-header .close svg.close-icon {
    fill: var(--blue);
    width: 2.5rem;
    height: 2.5rem;
}

.reply-modal-header .close svg:hover {
    background-color: var(--blue-50-a1);
    border-radius: var(--corner-radius-full);
}

.reply-modal-body {
    padding: 1rem var(--spacing);
    position: relative;
    overflow: auto;
}

.reply-container {
    display: flex;
    margin: 2rem;
}

.reply-wrapper-image {
    flex-shrink: 0;
    width: 4.9rem;
    height: 4.9rem;
    margin-right: 1rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 0px 2px inset;
}

.reply-wrapper-image img {
    height: 100%;
    width: 100%;
    border-radius: var(--corner-radius-full);
    object-fit: cover;
}

.reply-content-wrapper {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
}

.reply-content-desc {
    display: flex;
    align-items: center;
}

.reply-user-fullName {
    font-size: 1.5rem;
    font-weight: 500;
    margin-right: 0.5rem;
}

.reply-username {
    font-weight: 400;
    font-size: 1.4rem;
    padding-right: 0.3rem;
}

.reply-date {
    font-size: 1.6rem;
}

span.reply-date-time {
    font-weight: 800;
}

.reply-desc-text {
    font-size: 1.5rem;
    line-height: 1.3125;
    font-weight: 400;
    margin-bottom: 0.8rem;
    word-break: break-all;
    max-width: 500px;
}

span.reply-to {
    font-size: 1.5rem;
    font-weight: 400;
    padding-right: 0.6rem;
    cursor: pointer;
}

a.reply-username-link {
    color: #5ab9f3;
    font-size: 1.7rem;
}

.vertical-pip {
    width: 0.2rem;
    height: 4.3rem;
    position: absolute;
    top: 81px;
    left: 58px;
    background-color: rgba(196, 207, 214);
}

.reply-user-msg {
    display: flex;
    margin-left: 2rem;
    margin-top: 3rem;
}

textarea#replyInput {
    flex: 1;
    resize: none;
    border: none;
    font-size: 1.9rem;
    font-weight: 400;
    color: #0f1418;
}

.reply-modal-footer {
    display: flex;
    justify-content: flex-end;
    margin-right: 2rem;
}

button#replyBtn {
    padding: 1rem 2rem;
    font-size: 2rem;
    color: #fff;
    background-color: rgb(29, 161, 242);
    border: none;
    border-radius: var(--corner-radius-full);
    cursor: pointer;
}

#replyBtn:disabled {
    cursor: not-allowed !important;
    background-color: var(--blue-50-a1);
}

.replyCountColor {
    fill: #46b1f3;
    color: #46b1f3;
}

/* End reply comment */

/* Delete post */
.d-wrapper-container {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    bottom: 0;
    background: rgba(0, 0, 0, 0);
    display: none;
}

.d-wrapper {
    position: absolute;
    top: 53%;
    left: 67%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: rgb(101 119 134 / 20%) 0px 0px 15px, rgb(101 119 134 / 15%) 0px 0px 3px 1px;
    width: 193.69px;
    height: 123px;
    border-radius: 4px;
}

.d-content {
    display: flex;
    align-items: center;
    padding: 2rem;
    cursor: pointer;
    overflow: hidden;
}

.d-content:hover {
    background-color: rgba(0, 0, 0, 0.03);
}

.d-image {
    margin-right: 1rem;
}

svg.del-icon {
    fill: rgb(100, 36, 100);
}

span.d-text {
    font-size: 1.5rem;
    font-weight: 400;
}

.del-post-wrapper-container {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.4);
    display: none;
}

.del-post-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: rgb(101 119 134 / 20%) 0px 0px 15px, rgb(101 119 134 / 15%) 0px 0px 3px 1px;
    background-color: #fff;
    width: 465px;
    height: 250px;
    max-height: 100%;
    max-width: 600px;
    border-radius: 16px;
    overflow: hidden;
}

.del-post-content {
    width: 320px;
    height: 229px;
    margin: 0 auto;
    padding-bottom: 3rem;
    padding-top: 3rem;
}

h2.del-post-content-header {
    margin-bottom: 16px;
    font-size: 1.9rem;
    font-weight: 700;
    text-align: center;
    color: rgb(15, 20, 25);
}

.del-post-content p {
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.7;
    font-weight: 400;
    margin-bottom: 20px;
    color: rgb(91, 112, 131);
}

.del-btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

button.del-btn {
    border: none;
    padding: 2rem;
    border-radius: var(--corner-radius-full);
    cursor: pointer;
    font-size: 1.6rem;
}

button#cancel {
    color: rgb(15, 20, 25);
    transition: background-color 0.3s;
}

button#cancel:hover {
    background-color: rgb(212, 214, 216);
}

button#delete-post-btn {
    background-color: rgb(238, 57, 25);
    color: #fff;
}

button#delete-post-btn:hover {
    background-color: rgb(202, 32, 85);
    transition: background-color 0.3s;
}
/* End delete post */

/* Profile */
.go-back-arrow {
    border-radius: var(--corner-radius-full);
    cursor: pointer;
    min-height: 39px;
    min-width: 39px;
    border: 0.1rem solid rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    margin-right: 3rem;
}

.color-blue {
    fill: var(--blue);
    width: 3.5rem;
    height: 3.5rem;
}

.go-back-arrow:hover {
    background-color: rgba(29, 161, 242, 0.1);
}

.header-top-pro {
    flex: 1;
}

.header-top-pro .tweet-no {
    font-size: 13px;
    color: rgb(91, 112, 131);
    line-height: calc(19.6875px);
}

.profileHeaderContainer .coverPhotoContainer {
    height: 180px;
    width: 100%;
    background-color: var(--blue);
    position: relative;
}

.cover-photo-user-me {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profileHeaderContainer .userImageContainer {
    height: 132px;
    width: 132px;
    margin-left: var(--spacing);
    position: absolute;
    bottom: -66px;
    justify-content: center;
    align-items: center;
}

.profileHeaderContainer .userImageContainer .profile-pic-me {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--corner-radius-full);
    background-color: #f3f4f4;
}

.profileHeaderContainer .userImageContainer img {
    border: 0.4rem solid #fff;
}

.profileHeaderContainer .profile__button-Container {
    text-align: right;
    padding: var(--spacing);
    min-height: 6.6rem;
}

.profile__btn-edit,
.p-btn {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: var(--blue);
    font-size: 1.5rem;
    font-weight: 700;
    border: 0.1rem solid var(--blue);
    padding: 1rem;
    border-radius: var(--corner-radius-full);
    cursor: pointer;
    text-align: center;
    margin-left: var(--spacing);
}

button.profile__btn-edit:hover,
.p-btn:hover {
    background-color: var(--blue-50-a1);
}

svg.p-btn-icon {
    fill: var(--blue);
}

.profileHeaderContainer .userDetailsContainer {
    display: flex;
    flex-direction: column;
    padding: 0 var(--spacing);
}

.profileHeaderContainer .displayName {
    font-size: 1.9rem;
    font-weight: 800;
    color: rgb(15, 20, 25);
    line-height: 1.312;
}

.profileHeaderContainer .username {
    font-size: 1.5rem;
    font-weight: 400;
    color: rgb(91, 112, 131);
    line-height: 1.5;
}

.profileHeaderContainer .bio {
    font-size: 1.5rem;
    font-weight: 400;
    color: rgb(91, 112, 131);
    line-height: 1.5;
}

.profileHeaderContainer .location {
    font-size: 1.5rem;
    font-weight: 400;
    color: rgb(91, 112, 131);
    line-height: 1.5;
}

.profileHeaderContainer .website {
    font-size: 1.5rem;
    font-weight: 400;
    color: rgb(91, 112, 131);
    line-height: 1.5;
}

.website .website-link {
    font-size: 1.5rem;
}

span.description {
    display: flex;
    margin-top: 0.3rem;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 1.5rem;
    color: rgb(91, 112, 131);
}

.description svg {
    fill: rgb(91, 112, 131);
    margin-right: 1rem;
}

.description .join {
    margin-right: 1rem;
}

.followersContainer a {
    text-decoration: none;
    margin-right: 1.5rem;
    font-size: 2rem;
    font-weight: bold;
}

.followersContainer a:hover {
    border-bottom: 0.1rem solid #000;
}

.followersContainer .value {
    font-size: 1.5rem;
    font-weight: 400;
    color: rgb(15, 20, 25);
    margin-right: 0.5rem;
}

.followersContainer span:not(.value) {
    font-size: 1.5rem;
    font-weight: 400;
    color: rgb(91, 112, 131);
}

.tabsContainer {
    display: flex;
    flex-shrink: 0;
    border-bottom: 0.1rem solid var(--gray);
}

.tab {
    flex: 1;
    height: 52px;
    display: flex;
    align-items: center;
    font-weight: bold;
    color: var(--grayText);
    text-decoration: none;
    justify-content: center;
}

.tab.active {
    border-bottom: 0.2rem solid var(--blue) !important;
}

.tab.active span {
    color: var(--blue) !important;
}

.tabsContainer .tab span {
    font-size: 2rem;
    color: var(--grayText);
}

.tab:hover {
    color: var(--blue);
    background-color: var(--blue-50-a1);
}

/* Profile avatar modal style */
.modal-pic {
    /* width: 100vw; */
    height: 100%;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    bottom: 0;
    background: rgba(0, 0, 0, 0);
    background: rgba(0, 0, 0, 0.4);
    /* display: none; */
}

.artdeco-modal-pic {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: rgb(101 119 134 / 20%) 0px 0px 15px, rgb(101 119 134 / 15%) 0px 0px 3px 1px;
    background-color: #fff;
    min-width: 600px;
    height: 600px;
    max-height: 90vh;
    max-width: 80vw;
    border-radius: 16px;
    overflow: hidden;
}

.header__topcard {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    border-bottom: 0.1rem solid var(--gray);
    border-top-right-radius: 0.4rem;
    border-top-left-radius: 0.4rem;
    background-color: rgba(255, 255, 255, 1);
}

.a-modal-site-logo-wrapper {
    font-size: 3rem;
    color: #1da1f5;
    padding-left: 23rem;
}

.modal-body__topcard {
    width: 100%;
    position: relative;
    font-size: 2rem;
    padding: 2rem;
}

.modal-body__topcard-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 0;
}

.edit-profile__topcard-wrapper {
    width: 325px;
}

.edit-profile__topcard-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--corner-radius-full);
}

.topcard-btn-icon {
    position: absolute;
    cursor: pointer;
}

#camera-small {
    width: 5rem;
    height: 5rem;
}

input.fileInputPhoto {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
    font-size: 0.1rem;
    cursor: pointer;
}

.modal-pic input {
    flex: 1;
    padding: 1.5rem;
    font-size: 1.9rem;
    font-weight: 400;
    color: rgb(15, 20, 25);
    line-height: 1.3125;
    border: none;
}

/* End Profile avatar modal style */
/* Edit profile */
.modal-edit {
    height: 100%;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    bottom: 0;
    background: rgba(0, 0, 0, 0);
    background: rgba(0, 0, 0, 0.4);
}

.modal-edit__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: rgb(101 119 134 / 20%) 0px 0px 15px, rgb(101 119 134 / 15%) 0px 0px 3px 1px;
    background-color: #fff;
    min-width: 600px;
    height: 600px;
    max-height: 90vh;
    max-width: 80vw;
    border-radius: 16px;
    overflow-y: scroll;
}

.body-edit__topcard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.edit-cover__topcard {
    height: 180px;
    width: 708px;
    background-color: var(--blue);
    position: relative;
}

.user-cover__edit {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.edit-btn-icon {
    position: absolute;
    cursor: pointer;
    margin-bottom: 660px;
}

.modal-edit input {
    flex: 1;
    padding: 1.5rem;
    font-size: 1.9rem;
    font-weight: 400;
    color: rgb(15, 20, 25);
    line-height: 1.3125;
    border: none;
}

input.edit_Photo,
input.edit_picPhoto {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
    font-size: 0.1rem;
    cursor: pointer;
}

.body-edit__topcard .user-pic__container {
    height: 132px;
    width: 132px;
    margin-left: var(--spacing);
    position: absolute;
    bottom: -66px;
    justify-content: center;
    align-items: center;
}

.body-edit__topcard .user-pic__container .profile-pic_edit {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--corner-radius-full);
    background-color: #f3f4f4;
}

.body-edit__topcard .user-pic__container img {
    border: 0.4rem solid #fff;
}

.edit-pic__topcard {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 132px;
    width: 132px;
    top: -132px;
    position: relative;
}

.profile-edit-btn-icon {
    top: 175px;
    right: -6px;
}

.edit-info_text {
    margin-top: 10rem;
}

/* End edit profile */
/* Profile cover modal style */

.modal-body__topcard-cov {
    width: 100%;
    position: relative;
    font-size: 2rem;
}

.modal-body__topcard-heading {
    padding: 2rem;
    line-height: 1.5;
}

.modal-body__topcard-container-cover {
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit-profile-cov__topcard-wrapper {
    width: 100%;
    height: 254px;
}

.edit-profile-cov__topcard-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.a-modal-edit-logo-wrapper {
    padding-left: 33rem;
}

.edit-username_text input,
.edit-bio_text input,
.edit-location_text input,
.edit-website_text input {
    border: 1px solid #ccc;
    width: 600px;
    border-radius: 12px;
    font-size: 1.8rem;
}

.edit-birthday_text input,
.edit-work_text input {
    border: 1px solid #ccc;
    width: 250px;
    border-radius: 12px;
    font-size: 1.8rem;
}

.edit-bio_text input {
    height: 50px;
    padding: 1rem 1.5rem 0 1.5rem;
    border: 1px solid #ccc;
    width: 600px;
    border-radius: 12px;
    font-size: 1.8rem;
}

.edit-text {
    margin-bottom: 3rem;
}

.label__text {
    display: block;
    font-size: 1.5rem;
}

.label-gender__text,
.gender-man_text,
.gender-girl_text,
.edit-work_text,
.edit-birthday_text {
    display: inline-block;
}

.edit-work_text {
    margin-left: 64px;
}

.gender-girl_text {
    margin-left: 10px;
}

/* Profile modal style */
.preview-modal-header-wrapper,
.preview-modal-edit-header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    border-bottom: 0.1rem solid var(--gray);
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
}

.preview-header-content,
.preview-edit-header-content {
    display: flex;
    align-items: center;
}

.preview-header-content h2,
.preview-edit-header-content h2 {
    font-size: 1.6rem;
    font-weight: 800;
}

span.submitProfileChange,
span.submitEditProfileChange {
    background: var(--blue);
    color: #fff;
    padding: var(--spacing);
    border-radius: var(--corner-radius-full);
    font-size: 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submitProfileChange:hover,
.submitEditProfileChange:hover {
    background-color: rgb(26, 145, 218);
}

.preview-modal-body,
.preview-edit-modal-body {
    width: 100%;
    height: 197px;
    position: relative;
    font-size: 2rem;
    padding: 2rem;
}

.preview-modal-body .modal-body-profile-wrapper,
.preview-edit-modal-body .modal-edit-body-profile-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 0;
}

.preview-modal-body .imagePreviewContainer,
.preview-edit-modal-body .imageEditPreviewContainer {
    width: 80%;
    height: 90%;
    margin: 0 auto;
}
.main__footer__nav__ {
    background-color: white;
}
img#imageEditPreview {
    display: block;
    max-width: 100%;
    width: 100%;
    height: 100%;
}

img#imagePreview {
    display: block;
    max-width: 100%;
    width: 100%;
    height: 100%;
}

.small-btn {
    display: none;
}

/* End Profile modal style  */

/* End Profile cover modal style */

/* End profile */

/* Message style */
.m-icon-wrapper {
    width: 3.7rem;
    height: 3.7rem;
    border-radius: var(--corner-radius-full);
    cursor: pointer;
}

.m-icon-wrapper .color-blue {
    padding: 0.1rem;
}

.m-icon-wrapper:hover {
    background-color: rgba(29, 161, 242, 0.1);
}
.logo__category {
    display: none;
}
.nav__footer {
    display: flex !important;
}
.nav__footer_child {
    display: none !important;
}
.right-msg {
    grid-column: 2/3;
    width: 144%;
    left: -84%;
    position: relative;
}

.no-msg-container {
    position: absolute;
    top: 50%;
    left: 65%;
    transform: translate(-50%, -50%);
}

.n-msg-wrapper {
    width: 441.89px;
    height: 190px;
    padding: 3.9rem 1rem;
}

.n-msg-wrapper h2 {
    font-size: 1.9rem;
    margin-bottom: 1rem;
    font-weight: 700;
    color: rgb(15, 20, 25);
    line-height: 1.3125;
    text-align: center;
    overflow-wrap: break-word;
}

.n-msg-wrapper p {
    font-size: 1.5rem;
    text-align: center;
    font-weight: 400;
    color: rgba(91, 112, 131);
    line-height: 1.3125;
    margin-bottom: 4rem;
}

.n-msg {
    min-height: 39px;
    font-size: 1.5rem;
    background-color: rgb(29, 161, 242);
    color: #fff;
    padding: 1em;
    border-radius: var(--corner-radius-full);
    text-decoration: none;
    margin-left: 16rem;
}

.n-msg:hover {
    background-color: rgb(26, 145, 218);
}
/* Message popup style */
.popup-msg-container {
    width: 100vw;
    height: 100%;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    bottom: 0;
    background: rgba(0, 0, 0, 0);
    background: rgba(0, 0, 0, 0.4);
    display: none;
}

.popup-msg-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    min-width: 600px;
    max-width: 80vw;
    height: 600px;
    max-height: 90vh;
    overflow: hidden;
    border-radius: 16px;
    box-shadow: rgba(101, 119, 134, 0.2) 0px 0px 15px, rgba(101, 119, 134, 0.15) 0px 0px 3px 1px;
}

.popup-msg-header {
    display: flex;
    align-items: center;
    padding: 2rem;
}

.popup-msg-icon {
    margin-right: 2rem;
    border-radius: var(--corner-radius-full);
    cursor: pointer;
}

.popup-msg-icon .color-blue {
    padding: 0.6rem;
    width: 3rem;
    height: 3rem;
}

.popup-msg-icon:hover {
    background-color: var(--blue-50-a1);
}

h2.popup-msg-modal-header {
    font-size: 2.9rem;
    font-weight: 800;
    line-height: 1.5rem;
}

.s-wrapper {
    display: flex;
    align-items: baseline;
    border-bottom: 0.1rem solid rgb(196, 207, 214);
}

.s-icon {
    width: 4rem;
    height: 4rem;
    padding: 0 1rem;
}

.s-bar {
    flex: 1;
    display: flex;
}

input.s-user {
    flex: 1;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 400;
    border: none;
}

.s-result-user li:hover {
    background-color: rgb(247, 249, 250);
}

/* End message popup style */

/* Recent message style */
.msg-user-photo {
    margin-right: 1rem;
    flex-basis: 13%;
    flex-shrink: 0;
}

.msg-user-name-wrap {
    width: 100%;
    display: flex;
    align-items: center;
}

.msg-user-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--corner-radius-full);
}

li.msg-user-name-wrap {
    padding: 1rem;
    border-bottom: 0.1rem solid #ddd;
    cursor: pointer;
    width: 343px;
}

.msg-user-name-text {
    flex: 1;
    display: flex;
    justify-content: space-between;
}

.msg-user-new {
    flex: 1;
}

.msg-user-name {
    display: flex;
    align-items: center;
}

.msg-user-name h3 {
    margin-right: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
    overflow-wrap: anywhere;
}

span.msg-username {
    line-height: 1.5rem;
    font-weight: 400;
    font-size: 1.5rem;
}

.msg-user-text {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgb(91, 112, 131);
    font-weight: 400;
    line-height: 1.5rem;
    font-size: 1.5rem;
    overflow-wrap: anywhere;
}

.msg-previ {
    text-overflow: ellipsis;
}

li.msg-user-name-wrap:hover {
    background-color: rgb(247, 249, 250);
}

li.msg-user-name-wrap.activeClass {
    border-right: 0.2rem solid rgb(29, 161, 242);
}
/* End recent message style*/

/* Chat style */
section.chatsMessageContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.chat-header-top {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--spacing);
    border-bottom: 0.1rem solid var(--gray);
    position: fixed;
    background-color: #fff;
    width: 44%;
}

.chat-header-left {
    display: flex;
    flex: 1;
}

.chat-header-image-wrapper {
    flex-basis: 30px;
    margin-right: 1rem;
}

.chat-header-image-wrapper img {
    height: 100%;
    width: 126%;
    object-fit: cover;
    border-radius: var(--corner-radius-full);
    background-color: rgba(26, 26, 26, 0.15);
}

.chat-header-name-wrapper {
    max-width: 100%;
    line-height: 1.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
}

.chat-header-name-wrapper h3 {
    font-weight: 800;
    font-size: 1.9rem;
    line-height: 2rem;
    color: rgb(15, 20, 25);
}

.chat-header-name-wrapper span.chat-header-username {
    font-size: 1.3rem;
    line-height: calc(19.6875px);
    color: rgb(91, 112, 131);
    font-weight: 400;
}

.chatPageContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.media-small {
    display: none !important;
}

.mainChatContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 127%;
    height: 100%;
    margin-bottom: 4.5rem;
    margin-top: 7.5rem;
}

.small-message {
    display: none !important;
}

.mssg-details {
    flex: 1;
    height: 90%;
    overflow-x: hidden;
    overflow-y: auto;
    flex-direction: column;
    display: flex;
}

.msg-show-wrap {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.msg-empty-space {
    padding: 2rem 0;
}

.msg-box {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.right-sender-msg {
    width: 100%;
    padding-right: 2rem;
    padding-top: 2rem;
}

.right-sender-text-time {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    padding-bottom: 0.3rem;
    margin-right: 1.6rem;
}

.right-sender-text-wrapper {
    word-break: break-all;
    display: flex;
    line-height: 1.5rem;
    justify-content: flex-end;
    max-width: 100%;
    width: 100%;
}

.s-text {
    background-color: rgb(29, 161, 242);
    max-width: 100%;
    height: 100%;
    font-weight: 400;
    color: #fff;
    line-height: 1.3125;
    cursor: pointer;
    border-radius: 16px;
    border: 0.1rem solid rgb(29, 161, 242);
    font-size: 1.5rem;
    padding: 1rem 1.5rem;
    border-bottom-right-radius: 0px;
    overflow: hidden;
}

.s-msg-text {
    line-height: 1.5;
    overflow-wrap: break-word;
}

.s-text:hover {
    background-color: rgb(26, 145, 218);
}

.sender-time {
    margin: 0;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: calc(19.6875px);
}

.left-receiver-msg {
    width: 100%;
    padding-right: 2rem;
    padding-top: 2rem;
    display: flex;
}

.receiver-img {
    width: 3.9rem;
    height: 3.9rem;
    display: block;
    margin-right: 0.9rem;
    flex-shrink: 0;
}

.receiver-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--corner-radius-full);
    background-color: rgb(26, 26, 26);
}

.receiver-text-time {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 0.3rem;
}

.left-receiver-text-wrapper {
    word-break: break-all;
    display: flex;
    line-height: 1.5rem;
    justify-content: flex-start;
    max-width: 100%;
    width: 100%;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0.5rem var(--gray);
}

::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background-color: rgb(58, 55, 55);
}

.r-text {
    background-color: rgb(235, 238, 240);
    max-width: 100%;
    font-weight: 400;
    color: rgb(15, 20, 25);
    line-height: 1.3125;
    cursor: default;
    border-radius: 16px;
    border: 0.1rem solid rgb(235, 238, 240);
    font-size: 1.5rem;
    padding: 1rem 1.5rem;
    border-bottom-left-radius: 0px;
    overflow: hidden;
}

.r-msg-text {
    overflow-wrap: break-word;
    line-height: 1.5;
}

.receiver-time {
    margin: 0;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: calc(19.6875px);
}

aside.chat-footer {
    padding: 1rem;
    display: inline-flex;
    border: 0.1rem solid var(--gray);
    position: fixed;
    bottom: 0;
    left: 54%;
    right: 0px;
    background-color: #fff;
}

.chat-footer input {
    flex: 1;
    resize: none;
    padding: 0.8rem;
    font-size: 1.5rem;
    background: rgb(235, 238, 240);
    border: 0.1rem solid rgba(0, 0, 0, 0);
    border-radius: 16px;
    outline: none;
    height: 25px;
    color: rgb(15, 20, 25);
    margin-right: 0.5rem;
}

.chat-footer input:focus {
    border-color: rgb(29, 161, 242);
}

.chat-footer .emojionearea {
    height: 25px;
}

.chat-footer button {
    background: transparent;
    border: none;
    min-height: 39px;
    min-width: 39px;
    border: 0.1rem solid rgba(0, 0, 0, 0);
    cursor: pointer;
    border-radius: var(--corner-radius-full);
}

.chat-footer button:hover {
    background-color: var(--blue-50-a1);
}
/* End chat style */

/* End message style */
/* Notification style */
a.nav__main-link.global-nav__primary-link-notif {
    position: relative;
}

span.notification-badge-show {
    position: absolute;
    top: 3px;
    text-align: center;
    padding: 1px 3px;
    left: 7px;
    color: #fff;
    font-size: 13px;
    border-radius: 3px;
    background: red;
    opacity: 0;
}

.notification-badge-show {
    opacity: 1 !important;
}
/* Notification interface */
.notify-container,
.notify-like-container,
.notify-msg-container,
.notify-mention-container {
    padding: 1rem 1.5rem;
    display: flex;
    width: 95.5%;
    border-bottom: 0.1rem solid rgb(235, 238, 240);
    cursor: pointer;
    transition: background-color 0.3s;
}

.notify-user-wrapper,
.notify-like-wrapper {
    margin-right: 1rem;
}

.notify-user-wrapper svg {
    fill: rgba(29, 161, 242, 1);
    width: 4rem;
    height: 4rem;
}

.notify-wrapper-content {
    flex: 1;
}

.notify-content {
    display: flex;
    align-items: center;
}

.notify-content__name {
    font-size: 1.5rem;
    color: #0f1419;
    font-weight: 700;
    margin-right: 10px;
    text-decoration: none;
}

.notify-content__text {
    font-size: 1.5rem;
    font-weight: 400;
}

.notify-container:hover,
.notify-like-container:hover,
.notify-msg-container:hover {
    background-color: rgba(0, 0, 0, 0.03);
}

.notify-like-wrapper {
    margin-right: 1rem;
}

.notify-like-wrapper svg {
    fill: rgba(224, 36, 94, 1);
    height: 4rem;
    width: 4rem;
}

/* End notification interface */
/* End Notification style */
aside.right-rail {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    left: 75%;
    padding: 0 1rem;
}
form#search-form {
    padding: 1rem 2rem;
    margin: auto;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
}
input#main-search {
    width: 88%;
    padding: 1rem;
    border-radius: 9999px;
    outline: none;
    padding-left: 3rem;
    font-size: 1.5rem;
    color: rgb(15, 20, 25);
    border: 1px solid rgba(0, 0, 0, 0);
    background-color: rgb(235, 238, 240);
}
::placeholder {
    color: rgb(91, 112, 131);
}
input#main-search:focus {
    border-color: #1a91da !important;
}
svg.search-icon {
    position: absolute;
    left: 25px;
    top: 17px;
    fill: rgb(91, 112, 131);
}
input#main-search:focus + svg.search-icon {
    fill: #1a91da !important;
}
.search-result {
    position: relative;
}
.search-title {
    display: none;
}
.search-header {
    min-height: 100px;
    position: absolute;
    left: 4px;
    top: -8px;
    box-shadow: rgba(101, 119, 134, 0.2) 0px 0px 15px, rgba(101, 119, 134, 0.15) 0px 0px 3px 1px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 4px;
    width: 95%;
    right: 0;
    z-index: 999999999999;
}
.search-header h3 {
    color: rgb(91, 112, 131);
    font-size: 15px;
    line-height: 1.3125;
    margin-top: 36px;
    text-align: center;
    font-weight: 400;
}
/* .p-btn {
    padding: 1rem;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    font-size: 1.5rem;
    color: rgba(29, 161, 242, 1);
    border: 0.1rem solid rgba(29, 161, 242, 1);
    border-radius: var(--corner-full-radius);
    cursor: pointer;
    text-align: center;
    margin-left: var(--spacing);
}
.p-btn:hover {
    background-color: rgba(29, 161, 242, 0.1);
} */
/* Auto-suggest styles */
#image-wrapper-suggest {
    width: 6rem;
    height: 6rem;
    margin-right: 2rem;
}
#image-wrapper-suggest img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
ul#suggestion {
    min-height: 100px;
    max-height: calc(80vh - 53px);
    position: absolute;
    left: 4px;
    top: -8px;
    box-shadow: rgba(101, 119, 134, 0.2) 0px 0px 15px, rgba(101, 119, 134, 0.15) 0px 0px 3px 1px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 4px;
    width: 95%;
    right: 0;
    overflow: auto;
    list-style: none;
    z-index: 99999999;
}
ul#suggestion a {
    display: flex;
    align-items: center;
}
ul#suggestion li {
    border-bottom: 0.1rem solid #ddd;
    padding: 1rem 1.5rem;
}
ul#suggestion li:hover {
    background-color: rgb(247, 249, 250);
    border-bottom-color: rgb(235, 238, 240);
}
ul#suggestion li:last-child {
    border-bottom: none;
}
.suggest-name h2 {
    color: #0f1419;
    font-weight: 800;
}
.suggest-name h4 {
    font-weight: 400;
    color: rgb(91, 112, 131);
    font-size: 1.7rem;
}
.no-result {
    font-size: 2rem;
    text-align: center;
    margin-top: 3rem;
}
/* End of Auto-suggest styles */
/* End of search area */
/*  Trends Style */
.trends {
    border-radius: 16px;
    background: #f7f9fa;
    margin: 1rem;
    border: 1px solid rgb(247, 249, 250);
}
.trends-container {
    width: 100%;
    /* height: 235px; */
    overflow: hidden;
}
.trends-container__header {
    padding: 1rem;
    font-weight: 800;
    font-size: 15px;
    border-bottom: 1px solid rgb(235, 238, 240);
}
.trends-content {
    align-items: center;
    justify-content: space-between;
    display: flex;
    border-bottom: 1px solid rgb(235, 238, 240);
    padding: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}
.trends-content:hover {
    background-color: rgba(0, 0, 0, 0.03);
}
.trends-content h3 {
    font-size: 15px;
    font-weight: 800;
    line-height: 1.5;
    color: rgb(15, 20, 25);
}
.trends-text {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    color: rgb(91, 112, 131);
}
.trends-footer {
    padding: 0.6rem;
    transition: background-color 0.3s;
    overflow: hidden;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    cursor: pointer;
}
.trends-footer:hover {
    background-color: rgba(0, 0, 0, 0.03);
}
.trends-footer a {
    font-size: 15px;
    font-weight: 400;
    color: rgba(29, 161, 242, 1);
}
/* End of trend style */
/* Follow */
main .follow-user-img {
    width: 6rem;
    height: 6rem;
    margin-right: 2rem;
}
.follow-user-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
main .follow-heading {
    padding: var(--spacing);
    border-bottom: 0.1rem solid var(--grey);
    font-size: 1.8rem;
}
main .follow-user {
    display: flex;
    align-items: center;
    padding: 1rem 1rem;
    border-bottom: 0.1rem solid var(--grey);
    cursor: pointer;
}
.follow-user:hover {
    background-color: rgba(0, 0, 0, 0.03);
}
.follow-user-info h4,
.follow-user-info p {
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
}
.follow-btn {
    margin-left: auto;
    background-color: #fff;
    color: #1da1f2;
    padding: 1rem;
    border: 0.1rem solid #1da1f2;
    border-radius: 2rem;
    font-size: 1.6rem;
    cursor: pointer;
}
.follow-btn:hover {
    background-color: rgba(29, 161, 242, 0.1);
}
.follow-link {
    margin: 2rem 1rem;
}
.follow-link a {
    text-decoration: none;
    color: #1da1f2;
    font-size: 1.5rem;
}
.follow-link a:hover {
    text-decoration: underline;
}
.unfollow-home {
    padding: 1rem;
    color: #fff !important;
    background: #1da1f2 !important;
}
.unfollow-btn:hover {
    color: #fff !important;
    background-color: #ca2055 !important;
}
.unfollowing:hover {
    color: #fff !important;
    background-color: #ca2055 !important;
}
.follow-footer {
    background-color: #f0f8fd;
}
.follow-footer ul {
    display: flex;
    padding: none;
    flex-wrap: wrap;
    justify-content: center;
}
.follow-footer a {
    color: #868383;
    font-size: 1.5rem;
    margin: 0 0.7rem;
}
.follow-footer a:hover {
    text-decoration: underline;
}
.follow-footer li {
    padding: 1rem;
}
.follow-user-info a {
    color: #444;
}
/* End follow */
.ment-w-container {
    display: flex;
    flex-direction: column;
}
.profile-user-icon {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
.p-icon {
    fill: rgb(91, 112, 131);
}
.f-follow {
    margin-left: 1rem;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 2px;
}
.ment-profile-wrapper {
    display: flex;
    align-items: center;
}
.ment-profile-pic {
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
}
.ment-profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--corner-full-radius);
    border: 0.1rem solid rgba(0, 0, 0, 0.04);
    background-color: rgba(26, 26, 26, 0.15);
}
.ment-user-fullName-text {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.5;
    color: rgb(15, 20, 25);
}
.ment-user-username-text {
    font-size: 1.5rem;
    font-weight: 400;
    color: rgb(91, 112, 131);
}
.fa-heart {
    color: #e33b67;
}
